@{
    ViewBag.Title = "NSB PingPong";
}

<div class="row">
    <div class="col-md-4">
        <h2>Ping webjob</h2>
        <p>
            <form action="/Home/SendCommand" method="POST">
                Short message: <input type="text" name="message" /><br/>
                <input type="submit"/>
            </form>
        </p>
    </div>
</div>