@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Send a command</h2>
        <p>
            Send a command to WebJob
        </p>
        <p>
            @*@Html.ActionLink("Send", "SendCommand")<br/>*@

            <form action="/Home/SendCommand" method="POST">
                <input type="submit" title="Submit a command" />
            </form>
        </p>
    </div>
</div>